body {
  margin: 0;
  padding: 0;
}

.Navbar {
  background-color: #6d23c1;
}

.Sidebar {
  height: calc(100vh - 52px);
  width: 250px;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 50px;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial,
    sans-serif;
}

.SidebarList #active {
  background-color: #383b46;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #383b46;
}
